Package: goshawkdb-server
Priority: optional
Section: database
Maintainer: Matthew Sackman <matthew@goshawkdb.io>
Architecture: amd64
Version: 0.1-1
Homepage: https://goshawkdb.io/
Depends: liblmdb0 (>= 0.9.10-1), libc6 (>= 2.14)
Description: GoshawkDB distributed data store server
 GoshawkDB is a distributed, transactional, fault-tolerant object
 store. It supports full general purpose transactions with
 strong-serializability isolation only. It is a CP system with
 configurable tolerance to failure. It is a schema-less data store,
 which supports automatic sharding of data and is horizontally
 scalable.
